.fade {
  animation: 10s blinker linear infinite;
  -webkit-animation: 10s blinker linear infinite;
  -moz-animation: 10s blinker linear infinite;
}

@-moz-keyframes blinker {
  0% { opacity: 0.8; }
  50% { opacity: 0.3; }
  100% { opacity: 0.8; }
}

@-webkit-keyframes blinker {
  0% { opacity: 0.8; }
  50% { opacity: 0.3; }
  100% { opacity: 0.8; }
}

@keyframes blinker {
  0% { opacity: 0.8; }
  50% { opacity: 0.3; }
  100% { opacity: 0.8; }
}

#portrait {
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 60%;
  width: auto;
  opacity: 0.7;
}

#error {
  font-size: 1em;
  color: red;
  font-family: Consolas, serif;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
