<div class="container">
  <div class="nav">
    <div class="container">
      <div class="row">
        <ul class="nav-items">
          <li class="nav-item"><a href="portfolio#experience">Experience</a></li>
          <li class="nav-item"><a href="portfolio#projects">Projects</a></li>
          <li class="nav-item"><a href="portfolio#skills">Skills</a></li>
          <li class="nav-item"><a href="portfolio#contact">Contact</a></li>
        </ul>
      </div>
      <hr style="margin-top: 0">
    </div>
  </div>
  <div class="row" id="intro">
    <h2>
      Hello, I'm <strong>Lisa Koremans</strong>.<br>
      I develop software solutions
    </h2>
  </div>
  <div class="arrow point">
    <i class="fa fa-arrow-down fa-2xl" aria-hidden="true"></i>
  </div>
  <hr id="experience">
  <h3>Experience</h3>
  <div class="container" id="jobs">
    <div class="row">
      <div class="three columns function-name">
        <h6><strong>IT Student</strong></h6>
      </div>
      <div class="nine columns job-desc">
        <h6 class="company-info">At Fontys University of Applied Sciences</h6>
        <p class="function-desc">Bachelor's degree - IT & Software. Specialization in Cyber Security.</p>
        <p class="job-date">feb. 2019 - feb. 2024</p>
      </div>
    </div>
    <div class="row">
      <div class="three columns function-name">
        <h6><strong>Software Intern</strong></h6>
      </div>
      <div class="nine columns job-desc">
        <h6 class="company-info">At CarapaxIT - Internship</h6>
        <p class="function-desc">Continued development on a full-stack online booking system. Deployed a new CI/CD environment within Azure Devops.</p>
        <p class="job-date">sep. 2021 - jan. 2022</p>
      </div>
    </div>
    <div class="row">
      <div class="three columns function-name">
        <h6><strong>Warehouse Employee</strong></h6>
      </div>
      <div class="nine columns job-desc">
        <h6 class="company-info">Active Stock Management - Temporary Contract</h6>
        <p class="function-desc">Taking clean photographs of recycled factory parts and logging their information in google sheets. Labeling processed parts and storing them in the warehouse.</p>
        <p class="job-date">jul. 2018 - jan. 2019</p>
      </div>
    </div>
    <div class="row">
      <div class="three columns function-name">
        <h6><strong>Letter Carrier</strong></h6>
      </div>
      <div class="nine columns job-desc">
        <h6 class="company-info">At PostNL</h6>
        <p class="function-desc">Last mile delivery of mail, advertising leaflets and mail-box packages.</p>
        <p class="job-date">apr. 2018 - aug. 2018</p>
      </div>
    </div>
    <div class="row">
      <div class="three columns function-name">
        <h6><strong>Retail Stock Clerk & Cashier</strong></h6>
      </div>
      <div class="nine columns job-desc">
        <h6 class="company-info">At Kruidvat</h6>
        <p class="function-desc">Processing new stock and restocking shelves. Running cash register.</p>
        <p class="job-date">aug. 2016 - apr. 2018</p>
      </div>
    </div>
  </div>
  <hr id="projects">
  <h3>Projects</h3>
  <div class="row">
    <h5 style="margin-bottom: 0">This section is <strong>under construction</strong>!</h5>
    <p>However you can take a look at my <a href="https://github.com/TwilightVanish">github</a>.</p>
  </div>
  <hr id="skills">
  <h3>Skills</h3>
  <div class="container">
    <div class="row skill-row">
      <div class="four columns">
        <ul class="skill-list">
          <li class="skill">
            <p class="skill-name">English</p>
            <sub>Cambridge Advanced Level English</sub>
          </li>
          <li class="skill">
            <p class="skill-name">Dutch</p>
            <sub>Native Language</sub>
          </li>
          <li class="skill">
            <p class="skill-name">.NET</p>
            <sub>1 year professional experience</sub>
          </li>
          <li class="skill">
            <p class="skill-name">Java</p>
            <sub>1 year professional experience</sub>
          </li>
        </ul>
      </div>
      <div class="four columns">
        <ul class="skill-list">
          <li class="skill">
            <p class="skill-name">Python</p>
            <sub>Used for personal projects</sub>
          </li>
          <li class="skill">
            <p class="skill-name">HTML5</p>
            <sub>Well-versed in HTML, CSS and JS</sub>
          </li>
          <li class="skill">
            <p class="skill-name">AngularJS</p>
            <sub>Used in many of my personal projects</sub>
          </li>
          <li class="skill">
            <p class="skill-name">Database Design</p>
            <sub>2 years of professional experience</sub>
          </li>
        </ul>
      </div>
      <div class="four columns">
        <ul class="skill-list">
          <li class="skill">
            <p class="skill-name">Git</p>
            <sub>Able to efficiently make use of VCS</sub>
          </li>
          <li class="skill">
            <p class="skill-name">Microsoft Azure</p>
            <sub>Deploying applications and Devops</sub>
          </li>
          <li class="skill">
            <p class="skill-name">Google Cloud Platform (GCP)</p>
            <sub>Cloud service for most personal projects</sub>
          </li>
          <li class="skill">
            <p class="skill-name">Firebase</p>
            <sub>Platform for personal web applications</sub>
          </li>
        </ul>
      </div>
    </div>
    <hr id="contact">
    <h3>Contact</h3>
    <p>Want to get in touch? Shoot me an e-mail!</p>
    <a href="mailto:im.lisa.koremans@gmail.com">im.lisa.koremans@gmail.com</a>
  </div>
  <hr>
</div>
